body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #334608;
    border-bottom: 4px solid #d4ad00;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: normal;
    text-transform: propercase;
    letter-spacing: 2px;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 1px 1px 2px #000000;
    }
    
header nav ul {
    display: flex;
    justify-content: left;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1.5rem;
}


nav {
    margin: 20px 0;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #334608;
    border-bottom: 4px solid #d4ad00;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}

h2 {
    color: #333;
}

.blog-post {
    background: #ffffff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.blog-post h3 {
    background: #ffffff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.about-section {
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.standings-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

.league-table {
    flex: 1 1 400px;
    min-width: 350px;
}

.league-table table {
    width: 100%;
}

a {
    color: #d4ad00; /* Google blue, or choose any hex/rgb color you like */
    text-decoration: underline;
}

a:visited {
    color: #e4e2e9; /* Purple for visited links */
}

a:hover, a:focus {
    color: #7a7e8b; /* Gold on hover/focus */
    text-decoration: underline;
}